@model SpecShow.Models.User

@{
	ViewData["Title"] = "Login/Sign Up";
}

<div class="col-4 mx-auto">

	<!-- Pills navs -->
	<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
			   aria-controls="pills-login" aria-selected="true">Login</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
			   aria-controls="pills-register" aria-selected="false">Register</a>
		</li>
	</ul>
	<!-- Pills navs -->
	<!-- Pills content -->
	<div class="tab-content">
		<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
			<!-- Login Form-->
			<form asp-action="Login">
				<!-- Username input -->
				<div class="form-outline mb-4">
					<input asp-for="UserName" class="form-control" />
					<label class="form-label" asp-for="UserName">Username</label>
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>

				<!-- Password input -->
				<div class="form-outline mb-4">
					<input asp-for="Password" class="form-control" />
					<label class="form-label" asp-for="Password">Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<!-- 2 column grid layout -->
				<div class="row mb-4">
					<div class="col-md-6 d-flex justify-content-center">
						<!-- Checkbox -->
						<div class="form-check mb-3 mb-md-0">
							<input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
							<label class="form-check-label"> Remember me </label>
						</div>
					</div>

					<div class="col-md-6 d-flex justify-content-center">
						<!-- Simple link -->
						<a href="#">Forgot password?</a>
					</div>
				</div>

				<!-- Submit button -->
				<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

				<!-- Register buttons -->
				<div class="text-center">
					<p>Not a member? <a href="#pills-register">Register</a></p>
				</div>
			</form>
		</div>
		<!-- Register Form-->
		<div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
			<form asp-action="SignUp">
				<!-- Name input -->
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-outline mb-4">
					<input asp-for="FullName" class="form-control" />
					<label class="form-label" asp-for="FullName">Name</label>
					<span asp-validation-for="FullName" class="text-danger"></span>
				</div>

				<!-- Username input -->
				<div class="form-outline mb-4">
					<input asp-for="UserName" class="form-control" />
					<label class="form-label" asp-for="UserName">Username</label>
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>

				<!-- Email input -->
				<div class="form-outline mb-4">
					<input asp-for="UserEmail" class="form-control" />
					<label class="form-label" asp-for="UserEmail">Email</label>
					<span asp-validation-for="UserEmail" class="text-danger"></span>
				</div>

				<!-- Password input -->
				<div class="form-outline mb-4">
					<input asp-for="Password" class="form-control" />
					<label class="form-label" asp-for="Password">Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<!-- Checkbox -->
				<div class="form-check d-flex justify-content-center mb-4">
					<input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
						   aria-describedby="registerCheckHelpText" />
					<label class="form-check-label">
						I have read and agree to the terms
					</label>
				</div>

				<!-- Submit button -->
				<button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
			</form>
		</div>
	</div>
	<!-- Pills content -->

</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(function () {
			// Check if the ViewBag contains an error message
			var errorMessage = '@ViewBag.ErrorMessage';
			if (errorMessage) {
				// Show the alert
				var alert = $('<div class="alert alert-danger" role="alert"></div>').text(errorMessage);
				$('.row').prepend(alert);

				// Fade out after 3 seconds
				setTimeout(function () {
					alert.fadeOut();
				}, 3000);
			}
		});
	</script>
}
